# IDE
.idea/
dist/
*.egg-info
*.DS_Store
*.bak
.claude/

# Python and Pytest
*__pycache__
.pytest_cache/
htmlcov/
.coverage

# Virtual Env
.venv/

# Poetry
poetry.lock
.poetry/

# Project
*.zip
outputs/